:root {
  /* color font*/
  --dark-blue: #13183f;
  --light-gray: #83869a;
  --white: #ffff;
  --dark-pink: #f74780;
  /* background-color*/
  --gradient-pink: linear-gradient(#ff6f48, #f02aa6);
  --gradient-blue: linear-gradient(#4851ff, #f02aa6);

  /*hover color*/
  --btn-header: #666ca3;
  --btn-mission-statement: linear-gradient(
    rgba(255, 111, 72, 0.5),
    rgba(240, 42, 166, 0.5)
  );
  --btn-footer: linear-gradient(
    rgba(72, 81, 255, 0.5),
    rgba(240, 42, 166, 0.5)
  );
  /*Fonts*/
  --ff-base: "Plus Jakarta Sans", sans-serif;
}
/* font-family: 'Plus Jakarta Sans', sans-serif; */
/* CSS RESET*/

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-size: 1rem;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* General styling mobile first */

body {
  font-family: var(--ff-base);
}
button {
  border: none;
  cursor: pointer;
}

.header-landing-page {
  display: flex;
  justify-content: space-between;
  margin: 1em 1em;
}
.title-header {
  font-size: 1.75rem;
  color: var(--dark-blue);
}

.cta-btn {
  border-radius: 28px;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5em 1em;
  color: var(--white);
  background-color: var(--dark-blue);
  z-index: 1;
}
.cta-btn:hover {
  background-color: var(--btn-header);
}

main {
  margin: 1em 1em 4em;
}

.mission-statement {
}
.mission-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--dark-blue);
  line-height: 3.15rem;
  margin-bottom: 1em;
}
.mission-description {
  line-height: 1.625rem;
  color: var(--light-gray);
  font-weight: 500;
  margin-bottom: 1em;
}
.mission-statement-btn {
  border-radius: 31.5px;
  background: var(--gradient-pink);
  font-weight: 700;
  color: var(--white);
  padding: 0.5em 1em;
  border: none;
}
.mission-statement-btn:hover {
  background: var(--btn-mission-statement);
}
.mission-statement-img {
  display: flex;
  justify-content: center;
}

.course-section {
  display: grid;
  gap: 2rem;
}
.card-course-title {
  background: var(--gradient-pink);
  border-radius: 10px;
  margin-bottom: 1em;
}
.course-section-title {
  color: var(--white);
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1em;
}

.card-course {
  padding: 0 1em 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
  box-shadow: 0px 0px 0.8px 0px #979797;
}

.card-course img {
  max-width: 56px;
  max-height: 56px;
  transform: translateY(-50%);
}
.course-card-title {
  color: var(--dark-blue);
  font-size: 1.25rem;
  font-weight: 800;
}
.course-card-description {
  font-weight: 500;
  line-height: 1.625em;
  color: var(--light-gray);
}
.course-card-cta-button {
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--dark-pink);
  text-decoration: none;
}
.footer-landing-page {
  background-color: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1em;
}
.title-footer {
  font-size: 1.75rem;
  font-weight: 800;
  color: var(--white);
}
.footer-cta-btn {
  font-weight: 700;
  padding: 0.5em 1em;
  color: var(--white);
  background: var(--gradient-blue);
  border-radius: 28px;
}
.footer-cta-btn:hover {
  background: var(--btn-footer);
}

/* STYLING CSS TABLET */

@media only screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .mission-statement {
    display: flex;
    margin-top: 8em;
    margin-bottom: 15em;
  }

  .mission-statement-img {
    /* display: block; */
    position: relative;
    width: 100%;
  }
  .image-hero {
    position: absolute;
    top: -200px;
    right: -250px;
  }
  picture img {
    max-width: ;
  }
  .course-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

/* STYLING CSS DESKTOP */

@media only screen and (min-width: 1024px) {
  html {
    font-size: 18px;
  }
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
  .mission-statement-img {
    /* display: block; */
    position: relative;
  }
  .image-hero {
    position: absolute;
    top: -200px;
    right: -250px;
    width: 800px;
  }

  .course-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* max-width: 1110px;
    margin: 0 auto; */
  }
}
